//- module
- var anikit = {"groupName":["No Animation","Popular Animation","Repeat Animation","Transition"],"members":[["static"],["blink","bounce","bounce-in","bounce-out","breath","fade","flip-h","float-btt-in","slide-ltr","spin","tremble"],["beat","blink","blur","bounce","bounce-in-alt","bounce-out-alt","bounceAlt","breath","clock","coin-h","coin-v","cycle","cycle-alt","damage","dim","fade","flip","flip-h","flip-v","float","heartbeat","hit","jelly","jelly-alt","jingle","jump","measure","metronome","move-btt","move-ltr","move-rtl","move-ttb","orbit","pulse","rubber","rubber-v","rush-btt","rush-ltr","rush-rtl","rush-ttb","shake","shake-v","shiver","skew","skew-alt","slide-btt","slide-ltr","slide-rtl","slide-ttb","smash","spin","spin-fast","squeeze","surprise","swim","swing","tick","tick-alt","tremble","vortex","vortex-alt","wander","wander-v","wrench"],["blur-in","blur-out","bounce-in","bounce-out","fade-in","fade-out","fall-btt-in","fall-ltr-in","fall-rtl-in","fall-ttb-in","flip-h-in","flip-h-out","flip-v-in","flip-v-out","float-btt-in","float-btt-out","float-ltr-in","float-ltr-out","float-rtl-in","float-rtl-out","float-ttb-in","float-ttb-out","grow-btt-in","grow-btt-out","grow-ltr-in","grow-ltr-out","grow-rtl-in","grow-rtl-out","grow-ttb-in","grow-ttb-out","jump-alt-in","jump-alt-out","jump-in","jump-out","power-off","power-on","rush-btt-in","rush-ltr-in","rush-rtl-in","rush-ttb-in","slide-btt-in","slide-btt-out","slide-ltr-in","slide-ltr-out","slide-rtl-in","slide-rtl-out","slide-ttb-in","slide-ttb-out","spring-btt-in","spring-ltr-in","spring-rtl-in","spring-ttb-in","throw-btt-in","throw-ltr-in","throw-rtl-in","throw-ttb-in","vortex-alt-in","vortex-alt-out","vortex-in","vortex-out","zoom-in","zoom-out"]]};
mixin anikit-picker(clsname)
  .ldcv.anikit-picker(class=clsname): .base: .inner.has-tips.mx-auto: div
    .head: input
    block
    .menu
      each g,$index in anikit.groupName
        .item-head #{g}
        .item-group
          each m in anikit.members[$index]
            .item(data-value=m)
              div
                | #{m}
                if $index > 1
                  i.i-lock
              .ani(class=`ld ld-${m}`)

mixin anikit-dropdown
  .dropdown
    .btn.btn-outline-dark.dropdown-toggle(data-toggle="dropdown") Animations...
    .dropdown-menu
      .inner: +anikit-dropdown-menu

mixin anikit-dropdown-menu
  each n,i in anikit.groupName
    h6.dropdown-header.head #{n}
    each k in anikit.members[i]
      a.dropdown-item.anikit(href="#",data-anikit=k) #[span= k] #[.demo: .inner: .ld(class="ld-" + k)]
    if i < 3
      .dropdown-divider

mixin anikit-modal
  .ldcv.default-size: .base(style="position:relative")
    .inner
      .closebtn.lg(data-ldcv-set)
      +anikit-modal-content

mixin anikit-modal-content
  each n,i in anikit.groupName
    h6.ml-4.mt-4.head #{n}
    .anikits
      each k in anikit.members[i]
        .anikit(data-ldcv-set=k,data-anikit=k)
          .demo: .inner: .ld(class="ld-" + k)
          span= k
    .dropdown-divider
  if i < 3
    hr

mixin anikit-select-options
  each n,i in anikit.groupName
    optgroup(label=n)
      each k in anikit.members[i]
        option(value=k)= k

