//- module
- var anikit = {"groupName":["No Animation","Popular Animation","Repeat Animation","Transition"],"members":[["static"],["blink","bounce","bounce-in","bounce-out","breath","fade","flip-h","float-btt-in","slide-ltr","spin","tremble"],["beat","blink","blur","bounce","bounceAlt","breath","clock","coin-h","coin-v","cycle","cycle-alt","damage","dim","fade","flip","flip-h","flip-v","float","heartbeat","hit","jelly","jelly-alt","jingle","jump","measure","metronome","move-btt","move-fade-btt","move-fade-ltr","move-fade-rtl","move-fade-ttb","move-ltr","move-rtl","move-ttb","orbit","pulse","rubber-h","rubber-v","rush-btt","rush-ltr","rush-rtl","rush-ttb","shake-h","shake-v","shiver","skew","skew-alt","slide-btt","slide-ltr","slide-rtl","slide-ttb","smash","spin","spin-fast","squeeze","surprise","swim","swing","tick","tick-alt","tremble","vortex","vortex-alt","wander-h","wander-v","wrench"],["blur-in","blur-out","bounce-alt-in","bounce-alt-out","bounce-in","bounce-out","fade-in","fade-out","fall-btt-in","fall-ltr-in","fall-rtl-in","fall-ttb-in","flip-h-in","flip-h-out","flip-v-in","flip-v-out","float-btt-in","float-btt-out","float-ltr-in","float-ltr-out","float-rtl-in","float-rtl-out","float-ttb-in","float-ttb-out","grow-btt-in","grow-btt-out","grow-ltr-in","grow-ltr-out","grow-rtl-in","grow-rtl-out","grow-ttb-in","grow-ttb-out","jump-alt-in","jump-alt-out","jump-in","jump-out","power-off","power-on","rush-btt-in","rush-ltr-in","rush-rtl-in","rush-ttb-in","slide-btt-in","slide-btt-out","slide-ltr-in","slide-ltr-out","slide-rtl-in","slide-rtl-out","slide-ttb-in","slide-ttb-out","spring-btt-in","spring-ltr-in","spring-rtl-in","spring-ttb-in","throw-btt-in","throw-ltr-in","throw-rtl-in","throw-ttb-in","vortex-alt-in","vortex-alt-out","vortex-in","vortex-out","zoom-in","zoom-out"]]};
mixin ldap(clsname)
  .ldcv.ldap(class=clsname): .base: .inner.has-tips.mx-auto: div
    .head: input
    block
    .menu
      each g,$index in anikit.groupName
        .item-head #{g}
        .item-group
          each m in anikit.members[$index]
            .item(data-value=m)
              div #{m}
              .ani(class=`ld ld-${m}`)

mixin anikit-select-options
  each n,i in anikit.groupName
    optgroup(label=n)
      each k in anikit.members[i]
        option(value=k)= k

